<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
  <h2>Your pig-latinized word is: <%= @piglatin %></h2>
  </body>
</html>